body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
        
        

    background-size:cover;
    background-position:center;
    background-attachment:fixed;

    font-family:'Segoe UI',sans-serif;
    padding:40px;
}
.card{
    min-height:650px;
    border-radius:24px;
}

.object-fit-cover{
    min-height:650px;
}